body
{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-image: url(../images/brickwall_@2X.png);
}
nav
{
	padding-left: 80px;
	padding-right: 80px;
}


#logo
{
font-size: 24px;
color:#fff;
background-color:#4aaaa5;
margin-top:0px;
height: 80px;
line-height: 1.5;
margin-bottom: 0px;
text-align: center;
font-weight: bold;
}
.list
{
margin-top: 17px;

}
li>a
{
	color: #777777;
	font-size: 15px;

}
#left_section
{
	
	margin-top:20px;
	background-color: #fff;
	font-size: 18px;

}

#left_heading
{
	border-bottom: 1px solid #dcdcdc;
	font-size: 30px;
	padding:15px;
	color: #4aaaa5;
	font-weight: bold;

}
#para
{
	padding: 20px;
	color: #777777;

	
	
}
#image
{
	height: 200px;
	width: 300px;

	margin-top: 20px;
	float: left;
	padding: 10px;

}
#right_section
{
	
	margin-top:20px;
	text-align: center;
	background-color: #fff;

	
}
#right_heading
{
	border-bottom: 1px solid #dcdcdc;
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 20px;
}
#icons
{
	padding: 20px;
}
#footer
{
	text-align: center;
	font-size: 15px;
	border-top: 8px solid #4aaaa5;
	line-height: 4.5;
	background-color: #666666;
	height: 70px;
	margin-top: 40px;
	
}
